@keyframes slideInLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateY(100%);
  }

}

.heading-1 {
  animation-name: slideInLeft;
  animation-duration: 4;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
}